<div class="event">
	<h4><%= event.title %></h4>
	<p><i>On</i> <%= event.date %> <br>
	<i>From</i> <%= event.start_time %> <i>To</i> <%= event.end_time %><br>
	Notes:<br>
	<%= event.notes %>
	</p>

</div>
